.page-container {
  margin-left: 20%;  /* moves the whole block to the right */
  margin-top: 13%;   /* pushes it down */
}

.page-container.sidebar-collapsed {
  margin-left: 70px;
  width: calc(100% - 70px);
}
/* .chart-header{
  display: flex;
  flex-direction: row;
} */

.table-wrapper {
  width: 100%;               /* full width relative to page-container */
  max-width: 1200px;         /* optional: limit width */
  margin: 0;                 /* align with container */
  padding: 0 3rem;           /* optional padding */
}

app-chart-table {
  width: 100%;               /* stretch table to wrapper */
}