<div class="header-container">
  <div class="header-text">
    <h1 class="header-title">Projects</h1>
    <p class="header-description">View and manage all your projects</p>
  </div>
  <button (click)="onCreateProject()" class="create-button">
    <svg class="w-5 h-5" viewBox="0 0 20 20" fill="none" stroke="currentColor">
      <path
        d="M10 4.16666V15.8333M4.16667 10H15.8333"
        stroke-width="1.67"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
    Create project
  </button>
</div>
