.welcome-section {
  padding: 1rem 2rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
  margin-bottom: 1.5rem;
  border: 1px solid #e2e8f0;
}

h1 {
  font-size: 28px;
  font-weight: 700;
  color: rgb(17, 24, 39);
  margin: 0;
  margin-bottom: 0.5rem;
  padding: 0;
}

p {
  font-size: 1rem;
  color: rgb(75, 85, 99);
  margin-bottom: 0.5rem;
}
