.page-container {
  display: flex;
  min-height: 100vh;
  background-color: rgb(248, 250, 252);
}

.main-content {
  flex: 1;
  margin-left: 15rem;
  transition: margin-left 0.3s;
}

.main-content.collapsed {
  margin-left: 70px;
}
