.task-card {
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

.title {
  font-weight: 600;
  margin-bottom: 1rem;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;

  th, td {
    padding: 8px 12px;
    border-bottom: 1px solid #e0e0e0;
    vertical-align: top;
  }

  th {
    font-weight: 600;
    color: #444;
    background-color: #fafafa;
  }

  tr:last-child td {
    border-bottom: none;
  }
}


  .paginator-wrapper {
  display: flex;
  justify-content: center; /* center paginator */
  margin-top: 12px;
}

/* Style page-size dropdown */
.mat-paginator .mat-select-trigger {
  background-color: #e0e0e0; /* light gray background */
  border-radius: 4px;
  text-align: center; /* center the number */
  padding: 0 8px;
  min-width: 40px;
}

/* Optional: style the dropdown arrow */
.mat-paginator .mat-select-arrow {
  color: #424242; /* darker arrow */
}



