 .chart-container {
  width: 90%;        /* take 90% of parent width */
  max-width: 900px;  /* but don't exceed this */
  margin: 0 auto;
  min-height: 400px; /* Ensure container has minimum height */
}

.chart-wrapper {
  width: 100%;
  height: 400px;
  position: relative;
}

.chart-wrapper apx-chart {
  display: block;
  width: 100%;
  height: 100%;
}
